.key {
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.common {
    background-color: var(--keyBG3);
    box-shadow: .2rem .3rem 0 .1rem var(--keyShadow3);
    color: var(--commonKeyFG);
    font-size: 2.5rem;
    font-weight: 700;
    transition: all .3s ease-in-out;
}

.common:hover {
    background-color: var(--keyShadow3);
    box-shadow: .2rem .3rem 0 .1rem var(--keyBG3);
}

.del {
    background-color: var(--keyBG1);
    box-shadow: .2rem .3rem 0 .1rem var(--keyShadow1);
    color: var(--spacialKeyFG);
    font-size: 1.5rem;
    letter-spacing: .01rem;
    transition: all .3s ease-in-out;

}

.del:hover {
    background-color: var(--keyShadow1);
    box-shadow: .2rem .3rem 0 .1rem var(--keyBG1);
}

.equals {
    grid-column: 3 / 5;
    background-color: var(--keyBG2);
    box-shadow: .2rem .3rem 0 .1rem var(--keyShadow2);
    color: var(--spacialKeyFG);
    font-size: 1.5rem;
    transition: all .3s ease-in-out;

}

.equals:hover {
    background-color: var(--keyShadow2);
    box-shadow: .2rem .3rem 0 .1rem var(--keyBG2);
}

.reset:hover {
    background-color: var(--keyShadow1);
    box-shadow: .2rem .3rem 0 .1rem var(--keyBG1);
}


.reset {
    grid-column: 1 / 3;
    background-color: var(--keyBG1);
    box-shadow: .2rem .3rem 0 .1rem var(--keyShadow1);
    color: var(--spacialKeyFG);
    font-size: 1.5rem;
    letter-spacing: .01rem;
    transition: all .3s ease-in-out;
}

.reset:hover {
    background-color: var(--keyShadow1);
    box-shadow: .2rem .3rem 0 .1rem var(--keyBG1);
}